@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
}


:root{
    --cor01 : #89E053;
    --cor02 : #4DB1F0;
    --cor03:  #E07A53;
    
}

#cabecalho{
    background-color: var(--cor02);
    color: #fff;
    height: 100px;
    display:  flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "ABeeZee", sans-serif;


}


#acoes{
    width: 15vw;
    min-width: 250px;
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-top: 10px;
    background-color: var(--cor02);
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.213);
    padding: 5px 0 5px 0;
    transition: all .3s ease;
}

#acoes>div{
    border-radius: 5px;
    cursor: pointer;

}

#acoes>div>a{

    display: block;
    width: 200px;
    

}

.acao_pos{
    background-color:  var(--cor01);
}

#acoes>div:not(.acao_pos){
    background-color: var(--cor03);
}

#acoes>div:hover{
    background-color: var(--cor02);
}



#tabela{
    margin: auto;
    border-collapse: collapse;
    width: 70vw;
    max-width: 1500px;
    margin-top: 15px;
    
    


    
}

#resp_tabela{
    overflow-x: auto;
    
}


td,th{
    
    border:  1px solid black;
    padding: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
    
    

}
thead{
    position: sticky;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.228);
    top: 0;
}
th{
    font-size: 1.4em;
    background-color: var(--cor01);

}


tbody>tr{
    cursor: pointer;
}

tbody>tr:nth-of-type(even){
    background-color: var(--cor02);
}



.selecionado{
     background-color: var(--cor03) !important; 
}




#load{
    width: 400px;
    height: 400px;
    margin: auto;
    border: none;
    outline: none;
    background-color: transparent;
    
}


dialog>figure{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}


dialog>figure>img{
    width: 100%;
    height: 100%;
}






@media (max-width : 600px) {
    #cabecalho{
        font-size: 1em;
    }

    #load{
        width: 200px;
        height: 200px;
    }


    
}

@media (max-width: 300px) {

    #cabecalho{
        font-size: .5em;
    }

    #acoes{
        flex-flow: column nowrap;
        min-width: 100px;
    }
    
}