@charset "UTF-8";

body{
    margin: 0;
    padding:  0 0 20px 0;
}

*{
    padding: 0;
    margin: 0;
}


:root{
    --cor01 : #89E053;
    --cor02 : #4DB1F0;
    --cor03:  #E07A53;
    
}

#cabecalho{
    background-color: var(--cor02);
    color: #fff;
    height: 100px;
    display:  flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "ABeeZee", sans-serif;


}


#acoes{
    width: 15vw;
    min-width: 250px;
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-top: 10px;
    background-color: var(--cor02);
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.213);
    padding: 5px 0 5px 0;
    transition: all .3s ease;
}

#acoes>button{
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;

}

#acoes>button>a{
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    
    
}
#editar>a{
    background-image: url("../estaticos/icones/editar.png");
}

#criar>a{
    background-image: url("../estaticos/icones/add_cliente.png");

}

#excluir>a{
    background-image: url("../estaticos/icones/delete.png");

}





.acao_pos{
    background-color:  var(--cor01);
}

#acoes>button:not(.acao_pos){
    background-color: var(--cor03);
}

#acoes>button:hover{
    background-color: var(--cor02);
}



#tabela{
    margin: auto;
    border-collapse: collapse;
    width: 70vw;
    max-width: 1500px;
    margin-top: 15px;
    
    


    
}

#resp_tabela{
    overflow-x: auto;
    overflow-y: auto; 
    max-height: 600px;   
       
    
    
}


td,th{
    
    border:  1px solid black;
    padding: 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
    
    

}
thead{
    position: sticky;
    top: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.228);
    
}


th{
    font-size: 1.4em;
    background-color: var(--cor01);

}


tbody>tr{
    cursor: pointer;
}

tbody>tr:nth-of-type(even){
    background-color: var(--cor02);
}



.selecionado{
     background-color: var(--cor03) !important; 
}




#load, #requisicao{
    padding: 15px;
    width: 400px;
    height: 400px;
    margin: auto;
    border: none;
    outline: none;
    background-color: transparent;
    
}



dialog>figure{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: transparent;
}

dialog>figure>img{
    width: 75%;
    height: 75%;
    
}





#aviso_requisicao{
    
    font-size: 2.5em;
    font-family: "ABeeZee", sans-serif;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
}


#confirma{
    background-color:  var(--cor01);
    font-size: 2.5em;
    font-family: "ABeeZee", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    

}


@media (max-width : 600px) {
    #cabecalho{
        font-size: 1em;
    }

    #load , #requisicao{
        width: 200px;
        height: 200px;
    }

    #aviso_requisicao{
        font-size: 1em;
        
    }

    #confirma{
        font-size: 1em;
    }

    


    
}

@media (max-width: 300px) {

    #cabecalho{
        font-size: .5em;
    }

    #acoes{
        flex-flow: column nowrap;
        min-width: 100px;
    }
    
}